.measure-wide {
  max-width:none;
}

.pb6-l {
    padding-bottom: 0rem;
}

.pv6-l, .pv6 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


img[src*="#profile"] {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.tags {
    float: left;
    width: 100%;;
}

.tags li {
    float: left;
    width: 20%;
}

.tags li.first {
    clear:left;
}

.tags ul,
.tags ul li {
    float: none;
    width: 100%;
}

.clear-left {
    clear: left;
}
